.MainDash{
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
}

.bottomSection{
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
    align-items:flex-start;

}
.overview{
    margin-top: 1rem;
}