.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:8px 12px;
    border-bottom:1px solid #f3c9c5;
}

.searchBox{
    display:flex;
    align-items:center;
    gap:10px;
    width:340px;
    background:#fff3f2;
    padding:10px 16px;
    border-radius:30px;
    border:1px solid #f3c9c5;
}

.searchBox input{
    border:none;
    outline:none;
    width:100%;
    background:transparent;
}

.navRight{
    display:flex;
    align-items:center;
    gap:20px;
}

.userInfo{

    display:flex;
    align-items:center;
    gap:12px;
}

.userInfo img{
    width:45px;
    height:45px;
    border-radius:50%;
    object-fit:cover;
}

.userInfo h4{
    font-size:15px;
}

.userInfo p{
    font-size:13px;
    color:#d32f2f;
}
.bell{
    cursor: pointer;
    transition: color 0.3s;
}

.bell:hover{
    color: #d32f2f;
}